/*--------------------------------------------*
Universal Styling
/*--------------------------------------------*/
* {
  margin:0;
  padding:0;
  border:0;
}

@font-face{
font-family: "oliverblush";
src: url('../fonts/oliverblush.ttf') format('truetype');
}

@font-face{
font-family: "montserrat";
src: url('../fonts/Montserrat.ttf') format('truetype');
}


/*--------------------------------------------*
Header Styling
/*--------------------------------------------*/
header {
    background: white;
    padding: 20px;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}



header nav ul li {
    display: inline;
    padding: 0 15px;
}

header nav a {
    text-decoration: none;
    background-color: white;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'montserrat';
}

header nav a:hover {
  color:#BCB5C5;
}


.logo-container,
header nav {
    display: inline-block;
    vertical-align: middle;
  }

body {
  position:absolute;
  width: 100%;
}

.hero {
  background-color: #BCB5C5;
  width: 100%;
}


h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'oliverblush';
  padding: 200px 0 100px 0;
  text-shadow: -1px -1px #FFFFFF;
}

.name {
  padding: 350px;
}

/*=====================
  About Styling
=========================*/
.about {
  font-family: montserrat;
  font-size: 16px;
  padding: 250px 0 0 80px;
  margin: 0 100px 0 600px;
}

.summary {
  float: right;
  position: absolute;
}

.me {
  position: relative;
  margin: 20px;
}

.gallery {
  margin: 5px;
}

.always:hover {
  opacity:20%;

}

.fixel:hover {
  opacity:20%;
}

.bearbottom:hover {
  opacity:20%;
}

span.lb-caption {
  font-family: montserrat;
  font-size: 20px;
}

span.lb-number {
  visibility: hidden;
}

figcaption {
  font-family: montserrat;
  font-size: 16px;
  text-align: left;
  margin-left: 250px;
}


/*=====================
  Contact form
=========================*/

.contactpage:first-line {
  font-family: oliverblush;
  font-size: 50px;
  text-align: center;
}

.contactpage {
  font-family: montserrat;
  font-size: 16px;
  text-align: center;
  padding: 50px 0 5px 0;
}



.contactform {
  background:#212023;
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  color:white;
  font-family: montserrat;
  margin: 20px auto;
  text-align: left;
}

.label_input_wrap {
  display: block;

}



.submit input {
  background-color:white;
  color:black;
  margin: 20px;
  padding: 5px 20px;
  display: inline;
  font-family: montserrat;
}

.submit input:hover {
  background-color: darkgrey;
}

.input-section {
  padding:10px;
  width:500px;
  border-radius: 3px;

}

textarea {
  font-family:montserrat;
}

.container {
  max-width: 900px;
  margin: 50px auto 100px;
  text-align: center;
}

/*=====================
  Footer
=========================*/
footer {
    background: #212023;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'montserrat';
    width:100%;
}


@keyframes name {
  from {font-size: 100px;}
  to {font-size: 125px;}
}


.name {
  animation-name: name;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
